
 The following SQL statements will be executed:

     CREATE TABLE invoice (id INT AUTO_INCREMENT NOT NULL, invoicedate DATE NOT NULL, invoicenumber INT NOT NULL, customerid INT NOT NULL, PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE invoice_line (id INT AUTO_INCREMENT NOT NULL, invoiceid_id INT NOT NULL, description LONGTEXT NOT NULL, quantity INT NOT NULL, amount DOUBLE PRECISION NOT NULL, vat DOUBLE PRECISION NOT NULL, totalvat DOUBLE PRECISION NOT NULL, INDEX IDX_D3D1D69320A48C29 (invoiceid_id), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(255) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
     ALTER TABLE invoice_line ADD CONSTRAINT FK_D3D1D69320A48C29 FOREIGN KEY (invoiceid_id) REFERENCES invoice (id);
